<form>
  <label>Title</label>
  <input type="text" name="recipe[title]" value="<%= recipe.escape('title') %>">

  <label>Description</label>
  <textarea name="recipe[description]"><%= recipe.escape('description') %></textarea>

  <label>Ingredients</label>
  <ul id="ingredients">
    <% ingredients.each( function(ingredient) { %>
      <li><input type="text" name="ingredient[]" value="<%= ingredient.escape('ingredient') %>"><span class="remove">X</span></li>
    <% }); %>
  </ul>
  <a href="javascript:void(0)" class="add-ingredient">Add Ingredient</a>


  <label>Servings</label>
  <input type="number" name="recipe[servings]" value="<%= recipe.escape('servings') %>">

  <label>Cooking Time (minutes)</label>
  <input type="number" name="recipe[cooking_time]" value="<%= recipe.escape('cooking_time') %>">


  <label>Directions</label>
  <ul id="directions">
    <% directions.each( function(direction) { %>
      <li><input type="text" name="direction[]" value="<%= direction.escape('step') %>"> <span class="remove">X</span></li>
    <% }); %>
  </ul>
  <a href="javascript:void(0)" class="add-direction">Add Direction</a>

  <label>Tags</label>
  <input type="hidden" name="recipe[tag_ids][]" value="">
  <% tags.each( function(tag) {%>
  <label><input type="checkbox" name="recipe[tag_ids][]" value="<%= tag.id %>" <% if (recipe.tag_ids && recipe.tag_ids.indexOf(tag.id) > -1) { %>"checked"<% } %>>
    <%= tag.escape('name') %></label>
    <% }) %>
  <input type="submit" value="Submit">
</form>
