<form>
  <label>Title</label>
  <input type="text" name="recipe[title]" value="<%= recipe.escape('title') %>">

  <label>Description</label>
  <textarea name="recipe[description]"><%= recipe.escape('description') %></textarea>

  <label>Ingredients</label>
  <ul id="ingredients">
    <% ingredients.each( function(ingredient) { %>
      <li><input type="text" name="ingredient[]" value="<%= ingredient.escape('ingredient') %>"><span class="remove-ing">X</span></li>
    <% }); %>
  </ul>
  <button id="ingredient" class="add">Add Ingredient</button>

  <label>Servings</label>
  <input type="number" name="recipe[dervings]" value="<%= recipe.escape('servings') %>">

  <label>Cooking Time (minutes)</label>
  <input type="text" name="recipe[cooking_time]" value="<%= recipe.escape('cooking_time') %>">


  <label>Directions</label>
  <ul id="directions">
    <% directions.each( function(direction) { %>
      <li><input type="text" name="direction[]" value="<%= direction.escape('step') %>"> <span class="remove-dir">X</span></li>
    <% }); %>
  </ul>
  <button id="direction" class="add">Add Step</button>

  <label>Tags</label>
  <input type="hidden" name="recipe[tag_ids][]" value="">
  <% tags.each function(tag) {%>
  <label><input type="checkbox" name="recipe[tag_ids][]" value="<%= tag.id %>" <%= "checked" if recipe.tag_ids.include?(tag.id) %>>
    <%= tag.name %></label>
    <% }) %>

</form>
