<form class="form group">
  <label>Title</label>
  <input type="text" name="recipe[title]" value="<%= recipe.escape('title') %>">

  <label>Description</label>
  <textarea name="recipe[description]"><%= recipe.escape('description') %></textarea>

  <label>Picture</label>
  <input type="file" name="recipe[picture]" id="input-recipe-picture">
  <div class="pic-preview">

  <img src="<%= recipe.escape('picture_url') %>" width="50" id="preview-recipe-picture">

  </div>


  <label>Ingredients</label>
  <input type="hidden" name="ingredient[]" value="">
  <ul id="ingredients">
    <% ingredients.each( function(ingredient) { %>
      <li><input type="text" name="ingredient[]" value="<%= ingredient.escape('ingredient') %>"><span class="remove">X</span></li>
    <% }); %>
  </ul>
  <a href="javascript:void(0)" class="add-ingredient">Add Ingredient</a>


  <label>Servings</label>
  <input type="number" name="recipe[servings]" value="<%= recipe.escape('servings') %>">

  <label>Cooking Time (minutes)</label>
  <input type="number" name="recipe[cooking_time]" value="<%= recipe.escape('cooking_time') %>">


  <label>Directions</label>
  <input type="hidden" name="direction[]" value="">
  <ul id="directions">
    <% directions.each( function(direction) { %>
      <li><input type="text" name="direction[]" value="<%= direction.escape('step') %>"> <span class="remove">X</span></li>
    <% }); %>
  </ul>
  <a href="javascript:void(0)" class="add-direction">Add Direction</a>

  <label>Tags</label>
  <input type="hidden" name="recipe[tag_ids][]" value="">
  <% tags.each( function(tag) {%>
  <label class="ch"><input class="check" type="checkbox" name="recipe[tag_ids][]" value="<%= tag.id %>" <% if (recipe.get('tag_ids') && recipe.get('tag_ids').indexOf(tag.id) !== -1) { %>checked<% } %>>
    <%= tag.escape('name') %></label>
    <% }) %>
  <input class="sub" type="submit" value="Submit">
</form>
