<div class="recipe-pic">
  <img src="<%= recipe.get('picture_url') %>"alt="" />
  <h2><%= recipe.escape('title') %> </h2>
  <% if (recipe._author) { %>
    <h6>by <%= recipe._author.name %> </h6>
  <% } %>
</div>

<div class="info">

<h5>Description</h4>
<p>
  <%= recipe.escape('description') %>
</p>
<div class="group time">
  <table cellpadding="5px" cellspacing="5px">
    <tr>
      <td>
        <h4>Servings</h4>
      </td>
      <td>
        <h4>Cooking Time</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><%= recipe.get('servings') %></h4>
      </td>
      <td>
        <h4><%= recipe.get('cooking_time') %> minutes</h4>
      </td>
    </tr>
  </table>
</div>

<h5>Ingredients</h5>
<div id="ingredient">

</div>


<h5>Directions</h5>
<div id="direction">

</div>

<h5>Tags</h5>
<div id="tag">
  <% tags.each( function(tag) { %>
    <li><%= tag.escape('name') %></li>
    <% });  %>
</div>

<h5>Nutrition Information</h5>
<div class="nutrition">
  <img src="<%= recipe.get('nutrition_url') %>"/>
</div>

<div id="fav">

<h5>Favorites</h5>
<strong class="count"><%= favoriteCount %></strong>
<% if (current_id) { %>
  <% if (recipe.get('favorited')) { %>
    <input type="button" class="delete-favorite" data-id="<%= favorite ? favorite : recipe.get('favorite_id') %>" value="Unfavorite">
  <% } else { %>
    <input type="button" class="add-favorite" value="Add to Favorites">
  <% } %>
<% } %>
</div>

<div id="comm">

<h5>Comments</h5>
<div id="comment">

</div>

<% if (current_id) { %>
  <div id="comment-form">
  </div>
<% } %>
</div>

<% if (recipe._author) { %>
  <% if (recipe._author.id === current_id) { %>
    <a href="#/recipes/<%= recipe.id %>/edit">Edit Recipe</a>
    <input type="button" class="delete" value="Delete Recipe">
  <% }; %>
<% }; %>
</div>
