
<% if recipe.persisted? %>
  <% button =  recipe_url(recipe)%>
  <% button2 = "Update Recipe" %>
<% else %>
  <% button = recipes_url %>
  <% button2 = "Create Recipe" %>
<% end %>

<%= render "layouts/errors" %>

<form id="form_id" action="<%= button %>" method="post">
  <%= auth_token_input %>
  <% if recipe.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label>Title</label>
  <input type="text" name="recipe[title]" value="<%= recipe.title%>">

  <label>Description</label>
  <textarea name="recipe[description]" rows="8" cols="40"><%= recipe.description %></textarea>
  <br>

  <h4>Ingredients</h4>
    <% @recipe.ingredients.each_with_index do |ingredient, index| %>
      <label><%= index + 1 %>:</label>
      <input type="text" name="ingredient[<%= index %>][name]" value="<%= ingredient.ingredient %>">
      <label>Order</label>
      <input type="number" name="ingredient[<%= index %>][ord]" value="<%= ingredient.ord %>">
      <input type="hidden" name="ingredient[<%= index %>][id]" value="<%= ingredient.id %>">
    <% end %>
  <br>

  <h4>Directions</h4>
  <% @recipe.directions.each_with_index do |direction, index| %>
  <label><%= index + 1 %>:</label>
  <input type="text" name="direction[<%= index %>][name]" value="<%= direction.step %>">
  <label>Order</label>
  <input type="number" name="direction[<%= index %>][ord]" value="<%= direction.ord %>">
  <input type="hidden" name="direction[<%= index %>][id]" value="<%= direction.id %>">
  <% end %>
  <br>

  <h4>Directions</h4>

  <br>
  <label>Cooking Time (Minutes)</label>
  <input type="number" name="recipe[cooking_time]" value="<%= recipe.cooking_time %>">

  <label>Servings</label>
  <input type="number" name="recipe[servings]" value="<%= recipe.servings %>">

  <input type="submit" value="<%= button2 %>">
</form>
